%button {
  background-color: transparent;
  color: inherit;
  display: inline;
  font-size: $s-font-size;
  font-weight: 400;
  line-height: $s-font-size;
  padding: $button-padding;
  position: relative;
  text-transform: uppercase;
  transition: $button-transition;
}

%button-corners--pseudoelement {
  content: "";
  background-color: transparent;
  height: 100%;
  padding: $button-padding;
  position: absolute;
  transition: $button-transition;
  width: 100%;
  z-index: -1;
}

%button-up-down--pesudoelement {
  content: "";
  background-color: $main-color;
  height: 1px;
  position: absolute;
  transition: $button-transition;
  width: calc(100% + #{(2 * $button-padding)});
}

.button {
  @extend %button;
  // ----------------- CODE SHOWING BUTTON -----------------
  &--code {
    font-family: $main-font;
    font-weight: 300;
    margin-top: 5rem;
    padding: 1rem 0;
    text-transform: lowercase;
    &::after {
      background-color: $main-color;
      bottom: 0.5rem;
      content: "";
      display: block;
      height: 0.2rem;
      position: absolute;
      transition: $button-transition-fast;
      width: 0;
    }
    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
  // ----------------- DECORATIVE BUTTONS -----------------
  // ----------------- BUTTON CORNERS -----------------
  &--corners {
    &::before {
      @extend %button-corners--pseudoelement;
      border-bottom: $button-border;
      border-left: $button-border;
      bottom: (-1 * $button-padding);
      left: (-1 * $button-padding);
    }
    &::after {
      @extend %button-corners--pseudoelement;
      border-right: $button-border;
      border-top: $button-border;
      right: (-1 * $button-padding);
      top: (-1 * $button-padding);
    }
    // ----------------- BUTTON CORNERS - HOVER -----------------
    &:hover {
      color: $background-color;
      &::before {
        background-color: $main-color;
        left: 0;
        bottom: 0;
      }
      &::after {
        background-color: $main-color;
        right: 0;
        top: 0;
      }
    }
  }
  // ----------------- BUTTON UP&DOWN -----------------
  &--up-down {
    &::before {
      @extend %button-up-down--pesudoelement;
      top: (-1 * $button-padding);
      left: (-1 * $button-padding);
    }
    &::after {
      @extend %button-up-down--pesudoelement;
      bottom: (-1 * $button-padding);
      right: (-1 * $button-padding);
    }
    // ----------------- BUTTON UP&DOWN - HOVER -----------------
    &:hover {
      background-color: $main-color;
      color: $background-color;
      &::before,
      &::after {
        width: 0;
      }
    }
  }
  // ----------------- BUTTON FRAME -----------------
  &--frame {
    &::before {
      content: "";
      background-color: transparent;
      border: $button-border;
      height: calc(100% + #{$button-padding});
      left: (-0.5 * $button-padding);
      opacity: 1;
      padding: $button-padding;
      position: absolute;
      top: (-0.5 * $button-padding);
      transition: $button-transition;
      width: calc(100% + #{$button-padding});
      z-index: -1;
    }
    // ----------------- BUTTON FRAME - HOVER -----------------
    &:hover {
      background-color: $main-color;
      color: $background-color;
      &::before {
        opacity: 0;
        transform: scale(1.2, 1.6);
      }
    }
  }
}
