.main-title {
  font-family: $title-font;
  font-size: $xl-font-size;
  font-weight: 100;
  letter-spacing: (0.5 * $xl-font-size);
  margin: 0;
  padding: 8rem 0;
  &::before,
  &::after {
    content: "-";
  }
}

@media (max-width: $medium) {
  .main-title {
    font-size: $l-font-size;
    letter-spacing: (0.5 * $l-font-size);
    padding: 4rem 0;
  }
}

@media (max-width: $small) {
  .main-title {
    &::before,
    &::after {
      content: "";
    }
  }
}
