.l-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 100rem;
  padding-top: 6rem;
  width: 100%;
}

@media (max-width: $medium) {
  .l-buttons-container {
    padding-top: 4rem;
  }
}
