// colors
$background-color: #023c40;
$main-color: white;

// fonts
$title-font: "Josefin Sans", sans-serif;
$main-font: "Josefin Sans", sans-serif;
$code-font: "Fira Code", monospace;

// font size
$xs-font-size: 1.6rem;
$s-font-size: 2rem;
$m-font-size: 2.4rem;
$l-font-size: 3.6rem;
$xl-font-size: 5.6rem;

// line height
$l-line-height: 3.6rem;

// button border style
$button-border: 1px solid $main-color;

// button padding
$button-padding: 1rem;

// button transition
$button-transition: all 0.7s;
